<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mat-row">
        <div class="mat-col-quarter">
            <!-- <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option value=""></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
            </select> -->

            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Title</mat-label>
                <mat-select formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                  <mat-option value="Mr">Mr</mat-option>
                  <mat-option value="Mrs">Mrs</mat-option>
                  <mat-option value="Miss">Miss</mat-option>
                  <mat-option value="Ms">Ms</mat-option>
                </mat-select>
                <mat-hint align="end">Your title</mat-hint>
              </mat-form-field>
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>
        <div class="mat-col-quarter">
            <!-- <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" /> -->
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <mat-hint>Your first name</mat-hint>
            </mat-form-field>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="mat-col-quarter">
            <!-- <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" /> -->
            <mat-form-field appearance="outline" class="control-w">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <mat-hint>Your last name</mat-hint>
            </mat-form-field>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="mat-row">
        <div class="mat-col-quarter">
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Email Address</mat-label>
                <input type="text" matInput placeholder="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <mat-hint>Your email address</mat-hint>
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="mat-col-quarter">
            <!-- <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select> -->

            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <mat-option value="User">User</mat-option>
                  <mat-option value="Admin">Admin</mat-option>
                </mat-select>
                <mat-hint align="end">The centre the course will be offered at</mat-hint>
              </mat-form-field>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Change Password</h3>
        <p>Leave blank to keep the same password</p>
    </div>
    <div class="mat-row">
        <div class="mat-col-quarter">
            <!-- <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> -->
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <mat-hint>Your password</mat-hint>
            </mat-form-field>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="mat-col-quarter">
            <!-- <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" /> -->
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <mat-hint>Confirm your password (must match)</mat-hint>
            </mat-form-field>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button mat-raised-button color ="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" mat-button>Cancel</a>
    </div>
</form>